---
import BreadcrumbPage from '@layouts/BreadcrumbPage.astro';
import Breadcrumb from '@components/Breadcrumb.astro';
import { Image } from 'astro:assets';
import QuoteForm from '@components/QuoteForm.astro';
import TransCard from '@components/TransCard.astro';

/* Before and After Images */
import kitchenWindow from '@assets/images/Kitchen Window/kitchen-window.jpg';
import kitchenWindow2 from '@assets/images/Kitchen Window/kitchen-window-2.jpg';

import poolShedBefore from '@assets/images/Pool Shed/Before/pool-shed-2.jpeg';
import poolShedAfter from '@assets/images/Pool Shed/After/pool-shed-2.jpeg';

import shedBefore from '@assets/images/Pool Shed/Before/pool-shed-1.jpeg';
import shedAfter from '@assets/images/Pool Shed/After/pool-shed-1.jpeg';

const breadcrumbTitles = ["Home", "Services", "Windows and Siding"];
const breadcrumbLinks = ["/", "/services", "/windows-siding"];

const preselected_services = ["windows-siding"];
---
<BreadcrumbPage title="Windows and Siding Installation in Hamilton, Ontario | Brandan's Contracting">
	<h1 slot="title" class="px-4 text-4xl lg:text-6xl font-bold uppercase mb-4">Windows and Siding</h1>
	<Breadcrumb slot="breadcrumb" titles={breadcrumbTitles} links={breadcrumbLinks}/>
	<main slot="main">
		<section id="services" class="py-16 opacity-0" data-animate>
			<div class="container px-4 mx-auto">
				<p class="mb-4 max-w-4xl">
					Improve your home's efficiency and curb appeal with new windows and siding installation in Hamilton. We supply and install high-performance windows that reduce energy costs while keeping your home comfortable year-round.
				</p>
				<p class="mb-4 max-w-4xl">
					Whether you're upgrading an older home or finishing a new build, we ensure your exterior looks great and performs even better. Professional installation means long-lasting protection and a fresh new look.
				</p>
				<div class="grid md:grid-cols-2 gap-16">
					<TransCard before_img={poolShedBefore} after_img={poolShedAfter} loading="eager"/>
					<TransCard before_img={shedBefore} after_img={shedAfter} loading="eager" />
					<Image src={kitchenWindow} alt="kitchen window" loading="eager" layout='constrained' width={kitchenWindow.width} height={kitchenWindow.width} class="object-cover max-h-200 w-full"/>
					<Image src={kitchenWindow2} alt="kitchen window" loading="eager" layout='constrained' width={kitchenWindow2.width} height={kitchenWindow2.width} class="object-cover max-h-200 w-full"/>
				</div>
			</div>
		</section>
		<section id="request-quote" class="py-16 opacity-0" data-animate>
			<div class="container mx-auto px-4 m-auto">
					<h2 class="font-bold text-4xl uppercase mb-4 text-center">Request Quote</h2>
					<p class="text-center mb-4">Fill out some basic information and I will contact you to schedule your free estimate!</p>
					<QuoteForm selected_services={preselected_services}/>
			</div>
		</section>
	</main>
</BreadcrumbPage>
