---
import BreadcrumbPage from '../layouts/BreadcrumbPage.astro';
import ServiceCard from '../components/ServiceCard.astro';
import Breadcrumb from '../components/Breadcrumb.astro';
import { Image } from 'astro:assets';
import aboutHeadshotImage from '../assets/images/Brandan/headshot.jpeg';
import aboutFamilyImage from '../assets/images/Brandan/family-christmas.jpeg';
import drywallTrimImage from '../assets/images/stock/drywall-2.jpg';
import paintingImage from '../assets/images/stock/paint-supplies-1.jpg';
import flooringTileImage from '../assets/images/stock/tiles.jpg';
import windowsSidingImage from '../assets/images/stock/windows.jpg';
import carpentryImage from '../assets/images/stock/carpentry-1.jpg';
import generalRepairsImage from '../assets/images/stock/tools.jpg';

const breadcrumbTitles = ["Home", "Services"];
const breadcrumbLinks = ["/", "/services"];
---
<BreadcrumbPage title="Services | Brandan's Contracting">
	<h1 slot="title" class="px-4 text-4xl lg:text-6xl font-bold uppercase mb-4">Services</h1>
	<Breadcrumb slot="breadcrumb" titles={breadcrumbTitles} links={breadcrumbLinks}/>
	<main slot="main">
		<section id="services" class="lg:py-16 opacity-0" data-animate>
			<div class="container px-4 mx-auto">
				<div class="w-full flex-wrap md:grid md:grid-cols-2 md:gap-[32px] lg:grid-cols-3 xl:grid-cols-6 mb-4">
					<ServiceCard title="Drywall + Trim" img={drywallTrimImage} href="/services/drywall-trim" alt="drywall and trim" loading="eager"/>
					<ServiceCard title="Painting" img={paintingImage} href="/services/painting" alt="painting" loading="eager"/>
					<ServiceCard title="Flooring + Tile" img={flooringTileImage} href="/services/flooring-tile" alt="flooring and tile" loading="eager"/>
					<ServiceCard title="Windows + Siding" img={windowsSidingImage} href="/services/windows-siding" alt="windows and siding" loading="eager"/>
					<ServiceCard title="Carpentry" img={carpentryImage} href="/services/carpentry" alt="carpentry" loading="eager"/>
					<ServiceCard title="General Repairs" img={generalRepairsImage} href="/services/general-repairs" alt="general repairs" loading="eager"/>
				</div>
				<div class="">
					<p class="mb-4 max-w-4xl">Don't see what you're looking for? I'm able to complete a variety of additional work such as installing doors, shelving, and appliances, pressure washing, and more. Submit a general request form and I will promptly let you if I can complete the job, and my availability.</p>
					<a href="/request-quote" class="btn-primary fs-32 inline-block text-center">Request Quote</a>
				</div>
			</div>
		</section>
	</main>
</BreadcrumbPage>
